* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    border: 3px solid white;
}

svg {
    width: 100vw;
    height: 100vw;
}

#tools {
    width: 60px;
    height: 330px;
    background:black;
    position: absolute;
    top: calc(50% - 150px);
    left: 20px;
    border-radius: 32px;
    box-shadow: 0px 0px 10px #757272;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color:black;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 8px 0;
    cursor: pointer;
    overflow: hidden;
}

.btn:hover {
    scale: .8;
    background-color: rgb(6, 204, 204);
}

.circle {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    top: 20%;
    left: 20%;
}

.squre {
    display: block;
    width: 25px;
    height: 25px;
    border: 3px solid wheat;
    position: absolute;
    top: 25%;
    left: 25%;
}

.color {
    fill: transparent;
    stroke: none;
}

.color:hover {
    fill: rgb(27, 142, 4) !important;
    stroke: rgb(252, 32, 8) !important;
}

.color1 {
    fill: rgb(7, 245, 51);
    stroke: rgb(253, 0, 0);
}

.reset {
    width: 30px;
    height: 30px;
}

.pointer {
    width: 30px;
    height: 30px;
}

.drag1 {
    width: 30px;
    height: 30px;
}

.grid{
    stroke: greenyellow;
    display: none;
}

circle{
    stroke: white;
}
path{
    stroke: white;
}
.bgcolor{
    background-color: rgb(0, 166, 172);
    scale: 0.8;
}